body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}
/* header start*/
header{
    width: 100%;
    background-color: rgb(17, 228, 164);
    color: white;
    display: flex;
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-left: 20px;
    padding: 10px;
    margin-top: 10px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 400px;
}
.navbar ul{
    list-style: none;
}
.navbar ul li{
    background-color: rgb(98, 32, 160);
    width: 170px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #fff;
    float: left;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-align: center;
}
.navbar ul li:hover{
    background-color: rgb(27, 212, 74);
    transition: all 0.5s ease-in;
}
.navbar ul ul{
    display: none;
}
.navbar ul li:hover >ul{
    display: block;
}
/*header end/*

/*footer start*/
footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color:  rgb(17, 228, 164);
    width: 100%;
    color: white;
}
.name h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
}
.text p{
    width: 600px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -35px;
}
.icon span{
    font-size: 40px;
    position: relative;
    top: -30px;
    padding: 10px;
}
.copy{
    height: 50px;
    width: 100%;
    background-color: black;
    font-size: 25px;
    line-height: 50px;
}

